#home-cover {
    width: 100%;
    height: 500px;
    position: relative
}

#background-video {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    transition: all 0.5s ease;
}

#video-filter {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.43);
}

.home-cover-content {
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;

}

.home-cover-content img {
    height: 100px;
    margin-bottom: 10px;
}